<!--
  templateType: page
  isAvailableForNewContent: true
  label: Homepage
-->

{% extends "./layouts/base.hubl.html" %} {% block body %}

<main class="homepage">
  {% dnd_area "homepage_main", label="Homepage main content" %} {% dnd_section
  full_width=true, padding={ "top": 0, "bottom": 0, "left": 0, "right": 0 } %}
  {% dnd_module "technology_partner_hero"
  path="../components/modules/TechnologyPartnerHero", label="AAA Technology
  Partner Hero", width=12, offset=0 %} {% end_dnd_module %} {% end_dnd_section
  %} {% dnd_section full_width=true, padding={ "top": 0, "bottom": 0, "left": 0,
  "right": 0 } %} {% dnd_module "software_partner_showcase"
  path="../components/modules/SoftwarePartnerShowcase", label="AAA Software
  Partner Showcase", width=12, offset=0 %} {% end_dnd_module %} {%
  end_dnd_section %} {% dnd_section full_width=true, padding={ "top": 0,
  "bottom": 0, "left": 0, "right": 0 } %} {% dnd_module
  "software_license_carousel"
  path="../components/modules/SoftwareLicenseCarousel", label="AAA Software
  License Carousel", width=12, offset=0 %} {% end_dnd_module %} {%
  end_dnd_section %} {% dnd_section full_width=true, padding={ "top": 0,
  "bottom": 0, "left": 0, "right": 0 } %} {% dnd_module "why_agileops"
  path="../components/modules/WhyAgileOps", label="Why AgileOps", width=12,
  offset=0 %} {% end_dnd_module %} {% end_dnd_section %} {% dnd_section
  full_width=true, padding={ "top": 0, "bottom": 0, "left": 0, "right": 0 } %}
  {% dnd_module "implementation_services"
  path="../components/modules/ImplementationServices", label="AAA Implementation
  Services", width=12, offset=0 %} {% end_dnd_module %} {% end_dnd_section %} {%
  dnd_section full_width=true, padding={ "top": 0, "bottom": 0, "left": 0,
  "right": 0 } %} {% dnd_module "certified_engineers"
  path="../components/modules/CertifiedEngineers", label="AAA Certified
  Engineers", width=12, offset=0 %} {% end_dnd_module %} {% end_dnd_section %}
  {% dnd_section full_width=true, padding={ "top": 0, "bottom": 0, "left": 0,
  "right": 0 } %} {% dnd_module "customer_story"
  path="../components/modules/CustomerStory", label="AAA Customer Story",
  width=12, offset=0 %} {% end_dnd_module %} {% end_dnd_section %} {%
  dnd_section full_width=true, padding={ "top": 0, "bottom": 0, "left": 0,
  "right": 0 } %} {% dnd_module "client_logo_strip"
  path="../components/modules/ClientLogoStrip", label="AAA Client Logo Strip",
  width=12, offset=0 %} {% end_dnd_module %} {% end_dnd_section %} {%
  dnd_section full_width=true, padding={ "top": 0, "bottom": 0, "left": 0,
  "right": 0 } %} {% dnd_module "press_logo_showcase"
  path="../components/modules/PressLogoShowcase", label="AAA Press Logo
  Showcase", width=12, offset=0 %} {% end_dnd_module %} {% end_dnd_section %} {%
  dnd_section full_width=true, padding={ "top": 0, "bottom": 0, "left": 0,
  "right": 0 } %} {% dnd_module "page_footer"
  path="../components/modules/PageFooter", label="AAA Footer", width=12,
  offset=0 %} {% end_dnd_module %} {% end_dnd_section %} {% end_dnd_area %}
</main>

{% endblock body %}
